p {
  margin-top: 25px;
  font-family: 'Gelion Light';
}

#email-1-cstm::placeholder {
  color: white;
}

#email-1.form-control::placeholder {
  color: white;
}

#email-2.form-control::placeholder {
  color: rgb(200, 200, 200) !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#ai-mission {
  scroll-margin-top: 98px;
}